<md-dialog  ng-cloak>
<md-list layout="column">
<md-list-item >
<h2>Scores</h2>
</md-list-item>
<md-list-item style="background-color:{{item.color}}" class="md-3-line" ng-repeat="item in players">
<div style="margin:0 16px 0 16px;">
  <h1>{{item.place}}</h1>
</div>
<div class="md-list-item-text" layout="column">
  <h3>Player {{ item.id }}</h3>
  <h4>with {{ item.rooms }} rooms</h4>
</div>

</md-list-item>
<md-list-item >
  <div layout="row" layout-wrap >
      <md-button ng-click="hide()" flex flex-md="100">
      view game
    </md-button>
    <md-button ng-click="restart()" flex flex-md="100">
    restart
    </md-button>
  </div>
</md-list-item>
</md-list>

</md-dialog>